<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://firebase.google.com/docs/web/setup#available-libraries"></script>
    


    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js">
</script><script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-functions.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-analytics.js"></script>

<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

</head>
<body>
    
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyCW13S675lY6uklS-icP3DdyH9RhAAM-Qc",
            authDomain: "vaccinenotificaton.firebaseapp.com",
            projectId: "vaccinenotificaton",
            storageBucket: "vaccinenotificaton.appspot.com",
            messagingSenderId: "612699568652",
            appId: "1:612699568652:web:1adec638d5bd31610d0c29"
        };
        firebase.initializeApp(firebaseConfig);

        /*firebase.analytics();*/
        const messaging = firebase.messaging();
        messaging.requestPermission().then(function(){
            console.log("Notification permission granted");
            return messaging.getToken();

        })
        .then(function(token){
                console.log(token);
                //change here

        })
        .catch(function(err){
            console.log('Unable to get permission to notify.',err);
        });

        messaging.onMessage(function(payload){
            console.log(payload);
            var notify;
            notify = new Notification(payload.notification.title,{
            body : payload.notification.body,
            icon : payload.notification.icon,
            tag  : "dummy"
            }); 
            console.log(payload.notification);
        });

        var database = firebase.database().ref().child('/users/');
        database.on('value',function(snapshot){
            renderUI(snapshot.val());
        });

        database.on('child_added',function(data){
            console.log("Comming");
            if(Notification.permission!=='default'){
            var notify;

                notify = new Notification('CodeWife - '+data.val().username,{
                'body' : data.val().message,
                'icon' : 'bell.png',
                'tag'  : data.getKey()
                });

                notify.onClick = function(){
                alert(this.tag);
                }
            }
            else
            {
            alert('Please Allow the notification first');
            }
        });

        self.addEventListener('notificationclick',function(event){
            event.notification.close();
        });
    </script>
</body>
</html>